@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #0a0a0f;
}
